
.window { cursor: default }

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #afdeee;
}

.button > br {
	content: "";
	margin: -1px;
	display: block;
}


div.icon {
	width: 64px;
	text-align: center;
	margin: 20px;
}

